* {
       font-family: Arial, Verdana, sans-serif;
        color: black;
} 
  
ul {
    background-color: purple;
    line-height: 70px;

}

ul li a {
    text-decoration: none;
    color:  white;
}

ul li a:hover {
    background: red;
    padding: 0.5px;

}


#feature, .article {
    
    height: 100px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left top;
    
}
li {
    display: inline;
    padding: 5px;
    margin:30px;
    
    
}

img {
    width: 100px;
    height: 100px;
    float: right;
    margin-left: 10px;
    
   
}
p.article grid_4 {
    border-style: double;
}
.align-left {
    float: left;
}

img.align-center {
    display: block;
    margin: 0px auto
}
#footer {
    background-color: (red);
   
    
}

#logo {
    border-top: 50px;
    float: left;
    padding-top:0px;
    padding-left:20px;
    background-color: beige;
    padding-right: 20px;

}

.motto {
    text-align: center;
    font-weight: bold;
    border-style: none;
    line-height: 450px;
    background-image: url(../images/graduation.jpg);
    background-repeat: repeat;
    
    
     
}

#good {
    color: red;
    
    
    
}
#nice {
    color:purple;
    padding: 1px;   
}
#look {
    color:red;
}




div button {
    color: blue;
    line-height: normal;
    float: letf;
}
    

.care {
    border-style: double;
}

#extra {
    text-align: center;

}



#long {
   text-align: left;
   padding: 10px;
}














    
    
    